h5{
  color: #82828a;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: left;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  margin-left: 30px; 
  padding: 40px 0;
  font: 300 50px 'Oswald', sans-serif;
  color: #2a2a2c;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  width: 100%;
  height: 100%;
  
  margin-right: -170px;
  margin-left: 30px;
  padding: 20px;
  padding: 15px; 
  background-color: #f7f7f7;
  margin-bottom: -3430px;
  font-family: 'Lato';
  font-size: 1.2rem;  
  color: #b9b9ca;
  line-height: 1.8;     
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #2cc5d348;
 
}

.form-control-input, 
input {
  width: 100%;
  height: 60px;
  padding: 10px 20px; 
}

.form-control-textarea {  
  padding: 2px 1px;
  margin-top: 20px; 
  font-family: 'Lato';
  font-weight: 400; 
}

.send-button {
  margin-top: 65px;
  height: 44px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -300px;
  padding-right: 330px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: rgb(8, 8, 8);
}

.place {
  margin-left: 82px;
}

.phone {
  margin-left: 59px;
 
}

.gmail {
  margin-left: 59px;
}

.contact-text a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: rgb(14, 13, 13);
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  margin-left: 30px;
  font-size: 32px;
  color: #aaa;
  text-align: left;  
  width: 50%;
  margin-top: 20px;
  padding: 10;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 10;
  width: 640px;
  height: 46px;
  line-height: 30px;
  text-align: left;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 768px) {

  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-horizontal {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .direct-contact-container {
    margin: 0 auto;
  }

  .contact-list {
    margin-left: 0;
    padding-right: 0;
  }

  .social-media-list {

    position: relative;
    margin-left: 40px;
    font-size: 22px;
    color: #aaa;
    text-align: left;  
    width: 40%;
    margin-top: -20px;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: 640px;
    height: 7px;
    line-height: 20px;
    text-align: left;

  }
  

  .send-button {
    width: 100%;
  }

  .alt-send-button {
    width: 100%;
  }

  .send-text {
    margin-top: 0;
  
}
  
  }
@media screen and (max-width: 480px) {
  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-horizontal {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .direct-contact-container {
    margin: 0 auto;
  }

  .contact-list {
    margin-left: 0;
    padding-right: 0;
  }

  .social-media-list {

    position: relative;
    margin-left: 40px;
    font-size: 22px;
    color: #aaa;
    text-align: left;  
    width: 40%;
    margin-top: -20px;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: 640px;
    height: 7px;
    line-height: 20px;
    text-align: left;

  }
  

  .send-button {
    width: 100%;
  }

  .alt-send-button {
    width: 100%;
  }

  .send-text {
    margin-top: 0;
  
}
    
    }

@media screen and (max-width: 320px) {
  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-horizontal {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .direct-contact-container {
    margin: 0 auto;
  }

  .contact-list {
    margin-left: 0;
    padding-right: 0;
  }

  .social-media-list {

    position: relative;
    margin-left: 40px;
    font-size: 22px;
    color: #aaa;
    text-align: left;  
    width: 40%;
    margin-top: -20px;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: 640px;
    height: 7px;
    line-height: 20px;
    text-align: left;

  }
  

  .send-button {
    width: 100%;
  }

  .alt-send-button {
    width: 100%;
  }

  .send-text {
    margin-top: 0;
  
}
    
    }




